<h1 class="text-primary">CRUD - Simples</h1>
<hr>
<h4 class="text-info">Usuarios Cadastrados: @ViewBag.TotalCadastros</h4>
<hr>
@section Footer{
<footer>
    <a asp-action="Index">Página Principal</a>
</footer>
}